node_red_diagram
[{"id":"7194fd92.8e6b04","type":"bean","z":"2d9b7bae.d26484","name":"bb3","uuid":"","connectiontype":"constant","connectiontimeout":"0"},{"id":"2b9cff9e.d463","type":"bean accel","z":"2d9b7bae.d26484","name":"","bean":"7194fd92.8e6b04","x":806.6665954589844,"y":449.6666488647461,"wires":[["a8b1c7c4.574e38"]]},{"id":"7821dfd5.87de2","type":"inject","z":"2d9b7bae.d26484","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":175.66665649414062,"y":457.6666488647461,"wires":[["baa00240.456"]]},{"id":"baa00240.456","type":"read scratch","z":"2d9b7bae.d26484","bean":"7194fd92.8e6b04","name":"","readOne":true,"property1":"payload","type1":"buffer","readTwo":false,"property2":"","type2":"","readThree":false,"property3":"","type3":"","readFour":false,"property4":"","type4":"","readFive":false,"property5":"","type5":"","x":390.6666564941406,"y":456.6666793823242,"wires":[["32e55026.cd1ab"]]},{"id":"32e55026.cd1ab","type":"function","z":"2d9b7bae.d26484","name":"","func":"\nif (msg.payload[0]==1){\n    msg.payload=\"ok\"; \n}\nelse{\n    msg=0\n}\nreturn msg;","outputs":1,"noerr":0,"x":603.6666564941406,"y":454.6666488647461,"wires":[["2b9cff9e.d463"]]},{"id":"a8b1c7c4.574e38","type":"tcp out","z":"2d9b7bae.d26484","host":"127.0.0.1","port":"8889","beserver":"client","base64":false,"end":false,"name":"","x":1000.6665954589844,"y":448.66674041748047,"wires":[]}]
